In [2]:
from pathlib import Path
import json
import pandas as pd

In [3]:
with Path("competition-corner-data.json").open() as f:
    data = json.load(f)

In [6]:
workouts = pd.DataFrame(data["workouts"])
workouts.head()

,id,key,name,logoPath,showDetails,showPoints,hasMissingScores,caption,showRank,headerLabel,scoresCount,hasResultsOperations,hasActiveResultsOperations,resultsOperationsEndDate,resultsOperationsNextStartDate
0,358,workout_358,Workout 1,None,False,True,None,Time,False,Points,147,False,False,None,None
1,359,workout_359,Workout 2,None,False,True,None,Weight,False,Points,148,False,False,None,None
2,360,workout_360,Workout 3A,None,False,True,None,Reps,False,Points,147,False,False,None,None
3,361,workout_361,Workout 3B,None,False,True,None,Reps,False,Points,147,False,False,None,None
4,362,workout_362,Workout 4,None,False,True,None,Time,False,Points,145,False,False,None,None

In [7]:
athletes = pd.DataFrame(data["athletes"])
athletes.head()

,name,avatarPath,place,totalPoints,deficit,totalWins,topFiveFinishes,subgroup,subcategory,events,...,workoutScores,countryName,countryCode,countryShortCode,index,ageGroup,combinedTeamAge,bibNumber,participantAnswers,infoOptionCustomFieldValue
0,Lady & the Tramp,None,1,27,None,2,4,None,None,Festivus Games October 2023 @ Bold Athletics/C...,...,"{'workout_358': {'workoutId': 358, 'points': '...",United States,USA,US,0,None,98.0,None,None,None
1,We're Gonna Need an Rx After This,None,2,35,None,0,2,None,None,Festivus Games October 2023 @ The Roost CrossFit,...,"{'workout_358': {'workoutId': 358, 'points': '...",United States,USA,US,1,None,103.0,None,None,None
2,No C4 For You,None,3,56,None,1,2,None,None,Festivus Games October 2023 @ Gorillaz Fitness,...,"{'workout_358': {'workoutId': 358, 'points': '...",United States,USA,US,2,None,93.0,None,None,None
3,Dynamic Duo,None,4,65,None,0,2,None,None,Festivus Games October 2023 @ Mid Mitten Cross...,...,"{'workout_358': {'workoutId': 358, 'points': '...",United States,USA,US,3,None,94.0,,None,None
4,Impact Velocity,None,5,70,None,0,2,None,None,Festivus Games October 2023 @ CrossFit Oakdale,...,"{'workout_358': {'workoutId': 358, 'points': '...",United States,USA,US,4,None,96.0,None,None,None

In [14]:
scores = []
for athlete in data["athletes"]:
    collected = [("name", athlete["name"]), ("affiliate", athlete["affiliate"]), ("place", athlete["place"]), ("totalPoints", athlete["totalPoints"])]
    collected.extend([(workout, data["res"]) for workout, data in athlete["workoutScores"].items()])
    collected.extend([(data["workoutId"], data["points"]) for _workout, data in athlete["workoutScores"].items()])
    scores.append(collected)

print(f"{len(scores)} scores collected")

149 scores collected

In [15]:
df = pd.DataFrame([{k:v for k,v in entry} for entry in [score for score in scores]]) # , columns=["name", "affiliate", "Hoppin' and Poppin'!", "3-1-2? It's So Complex!", "Toss it, I'm Over It! (Row)", "Toss it, I'm Over It! (Metcon)", "Get on Up 'n Git Down"])
df.head()

,name,affiliate,place,totalPoints,workout_358,workout_359,workout_360,workout_361,workout_362,358,359,360,361,362
0,Lady & the Tramp,INDIGO STRENGTH & CONDITIONING,1,27,03:57,330,200,330,04:16,1,19,2,4,1
1,We're Gonna Need an Rx After This,CROSSFIT BOTHELL,2,35,04:23,365,197,324,04:52,15,3,4,6,7
2,No C4 For You,INDEPENDENT,3,56,04:41,380,193,331,05:01,35,1,6,3,11
3,Dynamic Duo,MORTAR CROSSFIT,4,65,04:28,345,200,299,04:43,21,6,2,33,3
4,Impact Velocity,CROSSFIT SONORA,5,70,04:24,325,197,305,04:45,17,24,4,21,4

In [17]:
df = df.rename(columns={
    'workout_358': 'Hoppin and Poppin',
    'workout_359': '3-1-2 Its So Complex',
    'workout_360': 'Toss it Im Over It Row',
    'workout_361': 'Toss it Im Over It Metcon',
    'workout_362': 'Get on Up n Git Down',
    358: 'WOD1',
    359: 'WOD2',
    360: 'WOD3',
    361: 'WOD4',
    362: 'WOD5'})
df.head()

,name,affiliate,place,totalPoints,Hoppin and Poppin,3-1-2 Its So Complex,Toss it Im Over It Row,Toss it Im Over It Metcon,Get on Up n Git Down,WOD1,WOD2,WOD3,WOD4,WOD5
0,Lady & the Tramp,INDIGO STRENGTH & CONDITIONING,1,27,03:57,330,200,330,04:16,1,19,2,4,1
1,We're Gonna Need an Rx After This,CROSSFIT BOTHELL,2,35,04:23,365,197,324,04:52,15,3,4,6,7
2,No C4 For You,INDEPENDENT,3,56,04:41,380,193,331,05:01,35,1,6,3,11
3,Dynamic Duo,MORTAR CROSSFIT,4,65,04:28,345,200,299,04:43,21,6,2,33,3
4,Impact Velocity,CROSSFIT SONORA,5,70,04:24,325,197,305,04:45,17,24,4,21,4

In [ ]:
df.to_csv("competition-corner-data.csv", index=False)